{% extends "master.html" %}
{% block title %}Results{% endblock %}
{% block message %}
    <hr />
    <h4 class="text-center">MESSAGE</h4>
    <p class="text-center"><i>{{query}}</i></p>
{% endblock %}

{% block content %}
    <div class='row'>
        <div class='col-3'></div>
        <div class='col-6'>
            <h1 class="text-center">Result</h1>
            <table class='text-center outline'>
                <tbody>
                    <tr>
                        <td class='correct'>lorem</td>
                        <td>lorem</td>
                        <td>lorem</td>
                        <td>lorem</td>
                    </tr>
                    <tr>
                        <td>lorem</td>
                        <td>lorem</td>
                        <td>lorem</td>
                        <td>lorem</td>
                    </tr>
                    <tr>
                        <td>lorem</td>
                        <td>lorem</td>
                        <td>lorem</td>
                        <td>lorem</td>
                    </tr>
                    <tr>
                        <td>lorem</td>
                        <td>lorem</td>
                        <td>lorem</td>
                        <td>lorem</td>
                    </tr>
                    <tr>
                        <td>lorem</td>
                        <td>lorem</td>
                        <td>lorem</td>
                        <td>lorem</td>
                    </tr>
                    <tr>
                        <td>lorem</td>
                        <td>lorem</td>
                        <td>lorem</td>
                        <td>lorem</td>
                    </tr>
                    <tr>
                        <td>lorem</td>
                        <td>lorem</td>
                        <td>lorem</td>
                        <td>lorem</td>
                    </tr>
                    <tr>
                        <td>lorem</td>
                        <td>lorem</td>
                        <td>lorem</td>
                        <td>lorem</td>
                    </tr>
                    <tr>
                        <td>lorem</td>
                        <td>lorem</td>
                        <td>lorem</td>
                        <td>lorem</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
